# ------------------------------------------------------------------------------
# DEFAULT OWNERS for everything in the repository
#
# Unless a later match takes precedence,they will be requested
# for review when someone opens a pull request
# ------------------------------------------------------------------------------
* @patd42 @bhdicaire